// FONTS
$font-main: 'Montserrat', sans-serif;
$font-header: 'Nunito Sans', sans-serif;

// COLORS
$color-white: #fff;
$color-neutral: #f2f2f2;
$color-dark: #333333;
$color-main: #561b89;
$color-accent: #ffd600;