.facilities-list {
  padding: 15px 0;

  .list-item {
    border: 1px solid $color-neutral;
    background-color: $color-white;
  }

  .item-input {
    appearance: none;
    width: 0;
    height: 0;
  }

  .item-title {
    display: block;
    padding: 10px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
  }

  .item-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-top: 10px solid $color-dark;
    border-bottom: none;
  }

  .item-input:checked ~ .item-title::after {
    border-top: none;
    border-bottom: 10px solid $color-dark;
  }

  .item-input:checked ~ .item-text {
    // display: block;
    display: flex;
    // height: auto;
  }

  .item-text {
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
    transition: 0.5s ease-in-out;
  }
  
  .item-text > li {
    list-style: "\2666  " inside;
  }

}