<section class="lab" id=@@lab-id>
  <h2 class="lab__name">
    <div class="container">@@lab-name</div>
  </h2>
  <div class="container">
    <div class="lab__descr">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ullam adipisci, iure quaerat praesentium molestiae tempora dolores ad ea ducimus modi nobis nesciunt. Nesciunt, modi quidem! Quibusdam neque rem tempora!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, voluptatem. Esse itaque, labore incidunt iusto mollitia nesciunt dolorem consequuntur quae aspernatur architecto aut a repudiandae sunt corrupti, excepturi, corporis sed! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, culpa quisquam corporis asperiores at, ab dicta dolorum sed quod, magnam molestiae repudiandae laboriosam ex eos cupiditate aliquam harum animi tempore!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos veritatis incidunt tempora repudiandae sint ad, provident quibusdam vero beatae fugit reiciendis rem dignissimos assumenda id tenetur unde praesentium inventore quaerat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, atque, eveniet cum quae similique possimus numquam maiores maxime adipisci voluptas corporis odio aliquam recusandae omnis facere reprehenderit accusamus sit eos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum cumque, esse perferendis nisi qui voluptatum quae? Nesciunt veniam laborum quaerat iusto nostrum eveniet cum, nobis non cupiditate quidem fugit voluptatibus.</p>
    </div>
  </div>
</section>