<section class="l-news">
  <div class="container">
    <h2>Latest News & Events</h2>
    <div class="l-news__list">

      <div class="l-news__item">
        <img class="l-news__img" src="@img/news-img-default-1.jpg" alt="">
        <div class="l-news__descr">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sunt asperiores. Eius quae earum magni incidunt. Minima omnis nisi fuga pariatur commodi. Ipsum, placeat excepturi quibusdam reprehenderit pariatur soluta id!</p>
        </div>
      </div>
      
      <div class="l-news__item">
        <img class="l-news__img" src="@img/news-img-default-2.jpg" alt="">
        <div class="l-news__descr">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, nulla. Tenetur, quis fugiat ducimus maxime iusto numquam natus ea ex sit et eveniet eligendi odit error ipsa voluptatibus! Magni, error!</p>
        </div>
      </div>
      
      <div class="l-news__item">
        <img class="l-news__img" src="@img/news-img-default-3.jpg" alt="">
        <div class="l-news__descr">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, eaque nam. Repellendus magnam iusto nisi aliquam, dignissimos odit, nesciunt pariatur expedita doloribus alias soluta libero distinctio dolorem id laborum earum.</p>
        </div>
      </div>

    </div>
  </div>
</section>