<div class="publication">
  <div class="publication__image">
    <img src="@img/cover-appliedMaterials.png" alt="">
  </div>
  <div class="publication__descr">
    <h5 class="publication__journal">Nature communications</h5>
    <h3 class="publication__name">Experimental observation of topological Z2 exciton-polaritons in transition metal dichalcogenide monolayers</h3>
    <h5 class="publication__date">20/7/2021</h5>
    <p class="publication__authors"> Authors: Mengyao Li, Ivan Sinev, Fedor Benimetskiy, Tatyana Ivanova, Ekaterina Khestanova, Svetlana Kiriushechkina, Anton Vakulenko, Sriram Guddala, Maurice Skolnick, Vinod M Menon, Dmitry Krizhanovskii, Andrea Alù, Anton Samusev, Alexander B Khanikaev</p>
    <div class="publication__abstract">
      The rise of quantum science and technologies motivates photonics research to seek new platforms with strong light-matter interactions to facilitate quantum behaviors at moderate light intensities. Topological polaritons (TPs) offer an ideal platform in this context, with unique properties stemming from resilient topological states of light strongly coupled with matter. Here we explore polaritonic metasurfaces based on 2D transition metal dichalcogenides (TMDs) as a promising platform for topological polaritonics. We show that the strong coupling between topological photonic modes of the metasurface and excitons in TMDs yields a topological polaritonic Z2 phase. We experimentally confirm the emergence of one-way spin-polarized edge TPs in metasurfaces integrating MoSe2 and WSe2.
    </div>
  </div>
</div>