<div class="container">

  <div class="swiper swiper-main">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slide 1 -->
      <div class="swiper-slide">
        <img src="@img/khanikaevLab3.png" alt="">
      
        <div class="slide__content">
      
          <div class="slide__part slide__descr">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id asperiores doloribus, soluta est consectetur magni. Adipisci expedita voluptate libero odio laboriosam, magni ad reiciendis voluptates iusto. Quas, hic dolorum!</p>
          </div>
      
          <div class="slide__part slide__name">
            <h2 class="slide__title">Publications</h2>
            <form action="./publications.html">
              <button class="btn swiper__btn">Learn More</button>
            </form>
          </div>
        </div>
      </div> <!-- .swiper-slide 1 end-->

      <!-- Slide 2 -->
      <div class="swiper-slide">
        <img src="@img/khanikaevLab5.png" alt="">
      
        <div class="slide__content">
      
          <div class="slide__part slide__descr">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta id asperiores doloribus, soluta est consectetur magni. Adipisci expedita voluptate libero odio laboriosam, magni ad reiciendis voluptates iusto. Quas, hic dolorum!</p>
          </div>
      
          <div class="slide__part slide__name">
            <h2 class="slide__title">People</h2>
            <form action="./team.html">
              <button class="btn swiper__btn">Learn More</button>
            </form>
          </div>
        </div>
      </div> <!-- .swiper-slide  2  end-->

      <!-- Slide 3 -->
      <div class="swiper-slide">
        <img src="@img/khanikaevLab12.png" alt="">
      
        <div class="slide__content">
      
          <div class="slide__part slide__descr">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati ullam, enim quis eius eligendi temporibus dolores sequi repellendus delectus? Veritatis omnis totam adipisci accusamus corporis eveniet quia modi exercitationem.</p>
          </div>
      
          <div class="slide__part slide__name">
            <h2 class="slide__title">Facilities</h2>
            <form action="./facilities.html">
              <button class="btn swiper__btn">Learn More</button>
            </form>
          </div>
        </div>
      </div>

    <!-- slides end -->
    </div>  <!-- .slider-wrapper end -->

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

  </div> <!-- .swiper -->
</div> <!-- .container -->